{% extends "base.html" %}
    {% block content %}
        <h1>{{ nombre }}</h1>
        <hr>
        {% if expiradas|length %}
            <h2 style="color: #ed1e13">Hay Tareas Expiradas...</h2>
            <table>
                <tr>
                    <th>Propuesta</th>
                    <th>Dias de Atraso</th>
                    <th>Fecha de Culminación</th>
                    <th>Plazo</th>
                </tr>
                {% for elemento in expiradas %}
                    <tr id="{{ elemento['id'] }}" onclick="menuTarea(this)">
                        {% for key, value in elemento.items() %}
                            {% if key != 'id' %}
                                <td> {{ value }} </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <h2>En proceso</h2>
        {% if enProceso|length %}
            <table>
                <tr>
                    <th>Propuesta</th>
                    <th>Dias de Restantes</th>
                    <th>Fecha de Culminación</th>
                    <th>Plazo</th>
                </tr>
                {% for elemento in enProceso %}
                    <tr id="{{ elemento['id'] }}" onclick="menuTarea(this)">
                        {% for key, value in elemento.items() %}
                            {% if key != 'id' %}
                                <td> {{ value }} </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No hay tareas</p>
        {% endif %}
        <h2>Alcanzadas</h2>
        {% if alcanzadas|length %}
            <table>
                <tr>
                    <th>Propuesta</th>
                    <th>Dias de Restantes</th>
                    <th>Fecha de Culminación</th>
                    <th>Plazo</th>
                </tr>
                {% for elemento in alcanzadas %}
                    <tr id="{{ elemento['id'] }}" onclick="menuTarea(this)">
                        {% for key, value in elemento.items() %}
                            {% if key != 'id' %}
                                <td> {{ value }} </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No hay tareas</p>
        {% endif %}
        <h2>No alcanzadas</h2>
        {% if noAlcanzadas|length %}
            <table>
                <tr>
                    <th>Propuesta</th>
                    <th>Dias de Restantes</th>
                    <th>Fecha de Culminación</th>
                    <th>Plazo</th>
                </tr>
                {% for elemento in noAlcanzadas %}
                    <tr id="{{ elemento['id'] }}" onclick="menuTarea(this)">
                        {% for key, value in elemento.items() %}
                            {% if key != 'id' %}
                                <td> {{ value }} </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No hay tareas</p>
        {% endif %}
    {% endblock %}